IOBUF PORT "A6" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "C0XX_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "PHI_0" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "PRAS_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "Q3" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "R_W_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "IAKD" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "IKSTRB" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "VID6" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "VID7" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "AN0" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "AN1" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "AN2" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "AN3" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "CASSO" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "CLRGAT_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "H0" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "LGR_TXT_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "MD7_OE" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA_DIR" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "RA9_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "RA10_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "SEGA" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "SEGB" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "SEGC" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "SPKR" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "SYNC_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "S_80COL_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "MD7" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA7" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "WNDW_N" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA0" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA1" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA2" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA3" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA4" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA5" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "ORA6" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "RESET_N" IO_TYPE=LVTTL33 PULLMODE=NONE OPENDRAIN=ON ;
LOCATE COMP "SEGA" SITE "A2" ;
LOCATE COMP "H0" SITE "A7" ;
LOCATE COMP "LGR_TXT_N" SITE "B3" ;
LOCATE COMP "SYNC_N" SITE "B7" ;
LOCATE COMP "RA10_N" SITE "B14" ;
LOCATE COMP "SPKR" SITE "C1" ;
LOCATE COMP "CASSO" SITE "C2" ;
LOCATE COMP "PRAS_N" SITE "C3" ;
LOCATE COMP "WNDW_N" SITE "C13" ;
LOCATE COMP "SEGB" SITE "D1" ;
LOCATE COMP "SEGC" SITE "E1" ;
LOCATE COMP "S_80COL_N" SITE "E2" ;
LOCATE COMP "CLRGAT_N" SITE "E12" ;
IOBUF PORT "SWICH_NTSC_PAL" IO_TYPE=LVTTL33 ;
LOCATE COMP "SWICH_NTSC_PAL" SITE "E14" ;
LOCATE COMP "ORA_DIR" SITE "F13" ;
LOCATE COMP "RESET_N" SITE "F14" ;
LOCATE COMP "AN0" SITE "G3" ;
LOCATE COMP "AN1" SITE "J2" ;
LOCATE COMP "AN2" SITE "J1" ;
LOCATE COMP "AN3" SITE "K1" ;
LOCATE COMP "ORA5" SITE "K3" ;
LOCATE COMP "VID6" SITE "K13" ;
LOCATE COMP "VID7" SITE "K14" ;
LOCATE COMP "IKSTRB" SITE "L14" ;
LOCATE COMP "MD7_OE" SITE "M1" ;
LOCATE COMP "MD7" SITE "M2" ;
LOCATE COMP "ORA0" SITE "M3" ;
LOCATE COMP "ORA6" SITE "M7" ;
LOCATE COMP "ORA7" SITE "M8" ;
LOCATE COMP "C0XX_N" SITE "M9" ;
LOCATE COMP "IAKD" SITE "M13" ;
LOCATE COMP "ORA1" SITE "N6" ;
LOCATE COMP "ORA3" SITE "N8" ;
LOCATE COMP "PHI_0" SITE "N10" ;
LOCATE COMP "Q3" SITE "N13" ;
LOCATE COMP "A6" SITE "N14" ;
LOCATE COMP "ORA2" SITE "P6" ;
LOCATE COMP "ORA4" SITE "P8" ;
LOCATE COMP "RA9_N" SITE "H12" ;
LOCATE COMP "R_W_N" SITE "H2" ;
